<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/shampoo.css" />
    <title>Shampoo project homepage</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="navigation">
        <a class="navlink" href="/">Home</a>
        <a class="navlink" href="/news.html">News</a>
        <a class="navlink" href="/download.html">Download</a>
        <a class="navlink" href="/installation.html">Installation</a>
        <a class="navlink" href="/usage.html">Usage</a>
        <a class="navlink" href="/contribution.html">Contribution</a>
        <a class="navlink" href="/about.html">About</a>
      </div>
      $body$
      <div class="push"></div>
    </div>
    <div class="footer">
      Copyright &copy; 2010 – 2014
      <a href="http://dmitrymatveev.co.uk" target="_blank">Dmitry Matveev</a>
      <br>
      Powered by <a href="http://jaspervdj.be/hakyll" target="_blank">Hakyll</a>,
      source is available <a href="http://github.com/dmatveev/shampoo-homepage" target="_blank">here
    </div>
  </body>
</html>
